
.center {
	text-align: center;
	padding-right: 10em;
}

table{
border-collapse:collapse;
}

table td{
border:1px solid black;
}

.table-head {
	background-color: yellow;
	font-weight: bold;
}

.tab {
	text-indent: 1.5em;
}

.money {
	text-align:right;
}
